<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="API Automation Suite" verbose="1">

    <test name="Core API Tests">
        <classes>
            <class name="com.cybercom.api.tests.FirstAPITest"/>
            <class name="com.cybercom.api.tests.TokenChainTest"/>
        </classes>
    </test>

    <test name="Login Tests">
        <classes>
            <class name="com.cybercom.api.tests.LoginAPITest"/>
            <class name="com.cybercom.api.tests.DataDrivenLoginTest"/>
        </classes>
    </test>

</suite>